// ==========================================================================
// Images
// ==========================================================================

.img {

  @include m(avatar) {
    padding-top: 20px;
  }

  @include m(frame) {
    width: 100%;
    padding: 10px;
    border: 1px solid palette(grey, x-light);
  }
}